* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Raleway", sans-serif;
  --green-color: #45FB78;
  --gray-color: #EDEDED;
}

/* Стили для текста */
.text_title_aboutus_page {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(30px, 2vw, 55px);
  color: #fff;
}

.text_under_title_aboutus_page {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 2vw;
  color: #fff;
  margin-top: 50px;
}

.text_block_aboutus_page {
  margin: 0 auto;
  width: 71vw;
  margin-top: 6.9vh;
}

.block_of_text_aboutuss_page {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 46vw;
}

.main_text_aboutus_page {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: clamp(35px, 3vw, 55px);
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 40px;
}

.main_text_greened_aboutus_page {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: clamp(35px, 3vw, 55px);
  text-transform: capitalize;
  color: var(--green-color);
}

.subtitle_text_aboutus_page {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  color: #fff;
  margin-bottom: 5vh;
  line-height: 1.6;
}

/* Карточка сотрудника */
.meet_our_team {
  margin-top: 100px;
}

.fr_text {
  display: flex;
  justify-content: center;
}

.text_meet_our_team {
  font-family: var(--font-family);
  font-size: clamp(35px, 3vw, 55px);
  color: var(--gray-color);
  font-weight: 500;
  margin: 0 auto;
}

.text_meet_our_team_green {
  color: var(--green-color);
}

.container_of_our_team {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.image_of_us {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.5s ease, width 0.5s ease;
}

.image_of_us:hover {
  transform: scale(0.95);
}

/* Адаптивность */
@media (max-width: 768px) {
  .image_of_us {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .image_of_us {
    max-width: 100%;
  }
}
